body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1400px;
}

.btn {
  color: white;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.btn:focus, .btn:hover {
  transition-duration: 0.12s;
  color: black;
  background-color: #D3573C;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  cursor: default;
}

h2, h3 {
  cursor: default;
}

p {
  cursor: default;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.photographer_section article, .photographer_section a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}
.photographer_section .localisation {
  margin: 0;
  color: #901c1c;
}
.photographer_section .tagline {
  margin: 5px 0 5px 0;
  font-size: 13px;
}
.photographer_section .price {
  margin: 0;
  color: #525252;
  font-size: 13px;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1400px;
}

.btn {
  color: white;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.btn:focus, .btn:hover {
  transition-duration: 0.12s;
  color: black;
  background-color: #D3573C;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  cursor: default;
}

h2, h3 {
  cursor: default;
}

p {
  cursor: default;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.photographer_section article, .photographer_section a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}
.photographer_section .localisation {
  margin: 0;
  color: #901c1c;
}
.photographer_section .tagline {
  margin: 5px 0 5px 0;
  font-size: 13px;
}
.photographer_section .price {
  margin: 0;
  color: #525252;
  font-size: 13px;
}

#photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 20px 100px;
}
#photographer-header .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
#photographer-header .profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
#photographer-header .profile_info .name {
  font-size: 60px;
  color: #D3573C;
  font-weight: 400;
  margin: 0;
}
#photographer-header .profile_info .localisation {
  color: #901c1c;
  font-size: 1.2em;
  font-weight: 400;
  margin: 5px 0 20px 0;
}
#photographer-header .profile_info .tagline {
  color: #525252;
  margin: 0;
}
#photographer-header .profile_btn {
  display: flex;
  align-items: center;
}
#photographer-header .profile_btn .contactBtn {
  padding: 11px;
  width: 170px;
  height: 70px;
  font-size: 1.2em;
  font-weight: bold;
}
#photographer-header .profile_picture img {
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filter {
  max-width: 1400px;
}
.filterWrapper {
  margin: 20px 100px 0 100px;
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  width: 95%;
  max-width: 1400px;
}
.filterWrapper h3 {
  font-size: 1.1em;
  margin-right: 10px;
}
.filterWrapper .filter_content {
  position: relative;
  height: 100%;
}
.filterWrapper .dropdown {
  z-index: 100;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}
.filterWrapper .dropdown_content {
  padding: 0;
  margin: 0;
  max-height: 0;
  transition: max-height 0.15s ease-in-out;
}
.filterWrapper .dropdown_content li {
  position: relative;
  width: 150px;
  list-style-type: none;
  background-color: #901c1c;
}
.filterWrapper .dropdown_content li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 1px;
  background-color: #fff;
}
.filterWrapper .dropdown_content li button {
  background-color: transparent;
  text-align: left;
  font-size: 0.9em;
}
.filterWrapper .dropdown_content li button:hover {
  background-color: #D3573C;
  color: #000;
}
.filter_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #901c1c;
  font-size: 0.9em;
}
.filter_btn:hover {
  background-color: #D3573C;
  color: #000;
}
.filter_btn, .filter .dropdown_content li button {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.filter .active {
  max-height: 200px;
}
.filter .rotate {
  transform: rotate(180deg);
}

#photographer-media {
  margin: 30px 100px 80px 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mediaCard {
  width: 350px;
  height: 350px;
  margin: 40px 0;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.mediaCard img, .mediaCard video {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.mediaCard figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}
.mediaCard figcaption .title {
  color: #901c1c;
  font-size: 1.2em;
  margin: 5px 0;
}
.mediaCard figcaption .likes {
  margin: 5px 0;
}
.mediaCard figcaption .likes .fa-heart {
  color: #901c1c;
  cursor: pointer;
}

.infoPanel {
  position: fixed;
  bottom: 0%;
  right: 3%;
  width: 260px;
  height: 60px;
  background-color: #D3573C;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}
.infoPanel_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  font-weight: bold;
}
.infoPanel_content .likes {
  margin: 0;
}
.infoPanel_content .price {
  margin: 0;
}

#contact_modal {
  display: none;
  position: fixed;
  width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#contact_modal .modal {
  border-radius: 5px;
  background-color: #D3573C;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: auto;
}
#contact_modal header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
#contact_modal header img {
  cursor: pointer;
  width: 25px;
}
#contact_modal header h2, #contact_modal header h3 {
  font-size: 2.3em;
  font-weight: normal;
  margin: 0;
}
#contact_modal header h3 {
  margin: 0 0 25px 0;
}
#contact_modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal form label {
  color: #312E2E;
  font-size: 1.5em;
  margin-bottom: 5px;
}
#contact_modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 15px;
}
#contact_modal form input, #contact_modal form textarea {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 10px;
}
#contact_modal form input:focus, #contact_modal form textarea:focus {
  outline: none;
}
#contact_modal form textarea {
  height: auto;
  font-family: "DM Sans", sans-serif;
}
#contact_modal form .btn {
  padding: 11px;
  width: 140px;
  height: 55px;
  font-size: 1em;
  font-weight: 600;
}
#contact_modal form .formData {
  height: 90px;
}
#contact_modal form .formData:last-of-type {
  height: auto;
}
#contact_modal form .formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  color: black;
  display: block;
  margin-top: 7px;
  padding-left: 5px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
#contact_modal form .formData[data-error-visible=true]::after {
  opacity: 1;
}
#contact_modal form .formData[data-error-visible=true] .text-control {
  border: 2px solid #901c1c;
}

#lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
}
#lightbox_modal {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightbox_modal button {
  position: absolute;
  cursor: pointer;
  color: #901c1c;
  background-color: transparent;
  border: none;
  font-size: 55px;
  width: 100px;
  height: 100px;
}
#lightbox_modal .closeBtn {
  top: 5vh;
  right: 25vh;
}
#lightbox_modal .previousBtn {
  left: 25vh;
  height: 150px;
}
#lightbox_modal .nextBtn {
  right: 25vh;
  height: 150px;
}
#lightbox_modal_content {
  background-color: white;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55%;
  max-height: 80vh;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 40px;
}
#lightbox_modal_content img, #lightbox_modal_content video {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
#lightbox_modal_content .title {
  width: 100%;
  box-sizing: border-box;
  text-align: start;
  margin: 10px 0 0 0;
  color: #901c1c;
  font-weight: 600;
}
